<div class="problem">
    <div class="problem__wrapper">
        <div class="problem__container container">
            <div class="problem__header">
                <app-header></app-header>
            </div>
            <div class="problem__content">
                <div class="spinner-wrapper" *ngIf="isLoading">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>                
                <div class="problem__no-data" *ngIf="!isLoading && this.dataSource.data.toString() === '[]'">
                    <img class="problem__no-data-img" src="../../../../assets/images/no-data.png" alt="">
                    <p class="problem__no-data-txt">There is no communal problems assign to you at this moment, sit tight.</p>
                </div>
                <div class="problem__table-wrapper" *ngIf="!isLoading && this.dataSource.data.toString() !== '[]'">
                    <h3 class="problem__heading">Communal problems assigned to you by our system. It is your responsibility to either accept and contact the user for further discussion or reject the selected communal problem, providing a reason for returning it for further review.</h3>
                    <div class="problem__table">
                        <div class="problem__actions">
                          <div class="problem__search">
                            <mat-form-field appearance="fill">
                              <mat-label>Search</mat-label>
                              <input matInput (keyup)="applyFilter($event.target)" placeholder="Search by whatever field you would like">
                              <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="problem__table mat-elevation-z8">
                          <mat-table [dataSource]="dataSource" matSort id="problem-table">
                            <ng-container matColumnDef="title">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> TITLE </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
                            </ng-container>
        
                            <ng-container matColumnDef="description">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPTION </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
                            </ng-container>
                        
                            <ng-container matColumnDef="address">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> ADDRESS </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="view">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> VIEW </mat-header-cell>
                              <mat-cell *matCellDef="let row"> <a matTooltip="View communal problem details page" (click)="goToDetails(row.id)"> <i class="bi bi-arrow-right-circle-fill color-blue"></i> </a> </mat-cell>
                            </ng-container>
                        
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                          </mat-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="problem__footer">
          <app-footer></app-footer>
        </div>
    </div>
    <app-toast-bar [message]="errorMessage" [status]="'failure'" [duration]="2" *ngIf="errorMessage"></app-toast-bar>
</div>