<div class="home">
    <div class="home__wrapper">
        <div class="home__container">
            <div class="home__header">
                <app-header></app-header>
            </div>

            <div class="home__content">

                <div id="container">
                    <section class="dataSection">
                        <h1>Total problems: {{statisticData.totalProblems}}</h1>
                    </section>
                    <section class="dataSection">
                        <h1>Public: {{statisticData.public}}</h1>
                    </section>
                    <section class="dataSection">
                        <h1>Anonymous: {{statisticData.anonymous}}</h1>
                    </section>
                    <section class="dataSection">
                        <h1>Solved: {{statisticData.solved}}</h1>
                    </section>
                    <section class="dataSection">
                        <h1>Unsolved: {{statisticData.unsolved}}</h1>
                    </section>
                </div>

                <div id="container">
                    <section class="buttonSection">
                        <button type="button" class="btn btn-primary" (click)="clickAllProblems()">All problems</button>
                    </section> 
                    <section class="buttonSection">
                        <button type="button" class="btn btn-primary" (click)="clickSolved()">Solved problems</button>
                    </section> 
                    <section class="buttonSection">
                        <button type="button" class="btn btn-primary" (click)="clickUnsolved()">Unsolved problems</button>
                    </section> 
                    <section class="buttonSection">
                        <button type="button" class="btn btn-success" (click)="clickExportExcel()">Export data to excel</button>
                    </section> 
                </div>

                <div id="container">    
                    
                    <section class="communal-problem-section" *ngIf="listCommunalProblems.toString() != '[]'">
                        <div *ngFor="let problem of listCommunalProblems" >
                            <app-communal-problem-card [problem]="problem"></app-communal-problem-card>
                        </div>
                    </section>
                
                    <section class="municipality-section">
                        <div class="list-group">
                            <button type="button" class="list-group-item list-group-item-action activeButton">
                                Municipality
                            </button>
                            <button type="button" class="list-group-item list-group-item-action" (click)="clickAllMunicipality()">All municipality</button>
                            <div *ngFor="let municipality of municipalityList">
                                <button type="button" class="list-group-item list-group-item-action" (click)="clickMunicipality(municipality)">{{municipality}}</button>
                            </div>
                          </div>
                    </section>
                </div> 
            </div>
            <div class="home__footer">
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>