.hearing__header-wrapper {
  display: flex;
  justify-content: space-between;
}

.mat-form-field {
  display: block;
}

.bi:before {
  font-size: 29px;
  cursor: pointer;
}

.bi {
  transition: all 0.2s ease-in-out;
}

.bi:hover {
  color: rgb(106, 105, 105);
  transition: all 0.2s ease-in-out;
}

.hearing__body-wrapper {
  padding: 20px;
  min-width: 400px;
}

.hearing__btn-create {
  background: #054468;
  color: white;
  transition: all 0.2s ease-in-out;
}

.hearing__btn-create:hover {
  background: #075a8a;
  transition: all 0.2s ease-in-out;
}

.hearing__btn-close {
  background: rgb(241, 240, 240);
  color: black;
  margin-right: 10px;
}

.hearing__btn-wrapper {
  text-align: right;
}

.disabled-btn {
  pointer-events: none;
  opacity: 0.7;
}

.spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.hearing__body-msg {
  max-width: 400px;
}
