.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-img {
  width: 50px;
  cursor: pointer;
}

.header__back {
  padding-right: 30px;
  font-size: 18px;
  cursor: pointer;

  .bi {
    margin-right: 5px;
  }
}